body {
        background-color: red;
        font-size: 100%
/*      background-image: url("face.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;*/
}

