body {
        background-color: red;
        font-size: 100%
/*      background-image: url("face.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;*/
}

h1{
        margin-bottom: 20px;
        color: black;
        text-align: center;
        font-family: "Verdana";
        text-decoration: underline;
        font-size: 2.5em;
}

a:link {
        text-decoration: none;
        color: blue;
}

a:visited {
        text-decoration: none;
        color: red;
}

a:hover {
        text-decoration: underline;
        color: green;
}

a:active {
        text-decoration: underline;
        color: darkblue;
}

