#header {
    display: inline-block;
    background-color:black;
    color:white;
    text-align:center;
    width:100%;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:max-height;
    width:15%;
    max-width:150px;
    min-width:130px;
    float:left;
    padding:5px; 
}
#section {
    width: 40%;    
    max-width:400px;
    min-width:230px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

pre:hover {
   text-decoration:underline;
}

a {
        display:inline;
}

a:link {
        text-decoration: none;
        color: blue;
}

a:visited {
        text-decoration: none;
        color: hotpink;
}

a:hover {
        text-decoration: underline;
        color: green;
}

a:active {
        text-decoration: underline;
        color: darkblue;
}

