#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:max-height;
    width:15%;
    max-width:150px;
    min-width:125px;
    float:left;
    padding:5px; 
}
#section {
    
    max-width:400px;
    min-width:150px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    position:absolute;
    bottom:0;
    text-align:center;
    padding:5px; 
}

a {
        display:inline;
}

a:link {
        text-decoration: none;
        color: blue;
}

a:visited {
        text-decoration: none;
        color: red;
}

a:hover {
        text-decoration: underline;
        color: green;
}

a:active {
        text-decoration: underline;
        color: darkblue;
}

